<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>eA</title>
        <style> body {padding: 0; margin: 0;} </style>        
    </head>
    <body>
        <h1>eA </h1>
        <p>24/06/2019 14:46 - eA: estamos nas nuvens!</p>
        <p>24/06/2019 14:51 - eA: agradecimentos especiais a Leandro e Elias pelas dicas e palavras-chave.</p>
        <p>25/06/2019 15:18 - eA: tentando apontar para arquivo html</p>  
        <p><br> Rendered at <%= new Date() %> </p>
    </body>
</html>